@import "defaults";
@import "variables";
@import "themes/{{ default " light" .Site.Params.BookTheme }}";

@import "normalize";
@import "utils";
@import "main";
@import "fonts";
@import "print";

@import "markdown";
@import "shortcodes";

// Custom defined styles
@import "custom";

.obsidian-link {
    color: #2e86de;
    text-decoration: none;
    border-bottom: 1px solid #2e86de;
    transition: all 0.2s ease;
}

.obsidian-link:hover {
    color: #1c6cb8;
    border-bottom: 2px solid #1c6cb8;
}